# ansible configuration file for ai-platform-on-aws 
# setup ollama on AWS EC2 instances
[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
interpreter_python = auto_silent

role_path = roles

[privilege_escalation]
become=True
become_method=sudo
become_user=root